:root{
    --primary-color:#098CCC;
    --second-color:#252463;
    --table-shadow:5px 5px 6px #cfcfcf, 5px 5px 6px #ffffff;

}
.dash-14{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.dash-17-dark{
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
}
/* content section start */

.order-page-content{
    width: 90%;
    margin: auto;
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 100px;
}
.order-page-content .dash-card{
    background-color: var(--primary-color);
    border-radius: 8px;
}
.order-page-content .search-input-div{
    height: 35px;
  }
  .order-page-content .search-input-div i{
    position: absolute;
    line-height: 35px;
    padding: 0px 0px 0px 10px;
    font-size: 1.3rem;
    color:gray;
    
  }
  .order-page-content .search{
    width: 25rem;
    height: 35px;
    padding: 0px 5px 0px 35px;
    font-size: 1.3rem;
    border: 1px solid gray;
    outline: none;
    background-color: white;
    border-radius: 5px;
  }
.table-row{
    overflow-x: auto;
}
.table-container{
    min-width: 980px;
    background-color: white;
    border-radius:10px;
    padding:0px 2px;
    padding:10px;
    border-radius:10px ;
    box-shadow: var(--table-shadow) ;

   }
    .order-table{
     background-color: white;
   
    
   }
    .order-table td{
     border-bottom: 1px solid  gray;
   }
    .order-table .bdr{
     border-left:1px solid gray;
   
   }
    .order-table thead{
     background-color:var(--primary-color);
     color: white;
   
   }
    .order-table thead th,td{
     padding:10px 20px;
     font-size: 1.2rem;
     font-weight: 450;
   }
   .order-table th{
     padding: 10px 0px !important;
     font-weight: 600 !important;
   }

   /* Table-filter-sec-start */
.order-page-content .filter-sec .heading{
       font-size: 1.4rem;
       color: var(--primary-color);
   }
.order-page-content .filter-sec label{
    font-size: 1.2rem;
    color: gray;
    font-weight: 500;
}
.order-page-content .filter-sec input{
  height: 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  padding:0px 10px;
  border: 1px solid gray;
}