:root{
    --primary-color:#098CCC;
    --second-color:#252463;
    --table-shadow:5px 5px 6px #cfcfcf, 5px 5px 6px #ffffff;

}
/* Font-sizes-start */
.dash-30{
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
/* Font-sizes-End */
.industry-page-content{
    width: 91%;
    margin: auto;
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 100px !important;
}
.industry-page-content .search-input-div{
  height: 35px;
}
.industry-page-content .search-input-div i{
  position: absolute;
  line-height: 35px;
  padding: 0px 0px 0px 10px;
  font-size: 1.3rem;
  color:gray;
  
}
.industry-page-content .search{
  width: 25rem;
  height: 35px;
  padding: 0px 5px 0px 35px;
  font-size: 1.3rem;
  border: 1px solid gray;
  outline: none;
  background-color: white;
  border-radius: 5px;
}
.table-row{
    overflow-x: auto;
}
.table-container{
  min-width: 980px;
  background-color: white;
  border-radius:10px;
  padding:0px 2px;
  padding:10px;
  border-radius:10px ;
  box-shadow: var(--table-shadow) ;
   }
    .industry-table{
     background-color: white;
    
   }
    .industry-table td{
     border-bottom: 1px solid  gray;
   }
    .industry-table .bdr{
     border-left:1px solid gray;
   
   }
    .industry-table thead{
     background-color:var(--primary-color);
     color: white;
   
   }
    .industry-table thead th,td{
     padding:10px 20px;
     font-size: 1.2rem;
     font-weight: 450;
   }
   .industry-table th{
     padding: 10px 0px !important;
     font-weight: 600 !important;
   }
  
  /*add-Industry Modal-code-start */
  .industry-page-content .add-industry-btn{
    background: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    height: 35px;
    padding: 0px 20px;
    border-radius: 5px;
    outline: none;
    color: white;
   }
   .add-industry-model .heading{
    font-size: 2rem;
    font-weight: 500;
  }
  .add-industry-model .add-i-input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0px 7px 0px 15px;
    font-size: 13px;
    outline: none;
  }
  .add-industry-model button{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #098ccc, #1571b4, #1f579a, #243d7f, #252463);
    border: none;
    outline: none;
    font-size: 13px;
    color: white;
    font-weight: 500;
  }
   /* add-Industry Modal-code-End */
   /* Edit-country-model-start */
   .edit-industry-model .heading{
    font-size: 2rem;
    font-weight: 500;
  }
  .edit-industry-model .edit-i-input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0px 7px 0px 15px;
    font-size: 13px;
    outline: none;
  }
  .edit-industry-model button{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #098ccc, #1571b4, #1f579a, #243d7f, #252463);
    border: none;
    outline: none;
    font-size: 13px;
    color: white;
    font-weight: 500;
  }
   /* Edit-country-model-End */